


<%# <h1 class="title">Register</h1>

<form method="POST" action="/register">

  <label for="username">Name</label>
  <input type="text" name="username" id="username">

  <label for="email">Email</label>
  <input type="email" name="email" id="email">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" id="passwordConfirmation">

  <button class="button">Register</button>
</form>%>


<div class="form">


      <div class="tab-content">
        <div id="signup">
          <h1>Register</h1>

          <form method="POST" action="/register">


            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input type="text" name="username" id="username" required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="email" id="email" required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" id="password"/>
          </div>
          <div class="field-wrap">
            <label>
              Confirm Password<span class="req">*</span>
            </label>
            <input type="password" name="passwordConfirmation" id="passwordConfirmation"/>
          </div>

          <button type="submit" class="button button-block"/>Sign Up</button>

          </form>

        </div>



      </div><!-- tab-content -->

</div> <!-- /form -->
