<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proxy</title>
  <% include ./partials/_stylesheets %>
  <% include ./partials/_scripts %>
</head>
<body>
  <% include ./partials/_header %>
  <div class="wrapper">
    <% for (const type in messages) { %>
          <p class="alert alert-<%= type %>"><%= messages[type] %></p>
          <% } %>
    <main class="container">
      <%- body %>
    </main>
    <div class="push"></div>
  </div>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>
