<ul class="row">
  <% cities.forEach(city => { %>
    <li class="col-lg-4 col-md-6 col-sm-12">
      <div>
        <a href="/cities/<%= city.id %>">
          <div>
            <h4><%= city.name %></h4>
          </div>
        </a>
      </div>
    </li>
    <%  }); %>
  </ul>
