<div class="pagemargin"></div>


<div id="login">
  <h1>Please Login</h1>

  <form method="POST" action="/login">

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input class="email" type="text" name="email" required>
    </div>

    <div class="field-wrap">
      <label>
        Password<span class="req">*</span>
      </label>
      <input class="password" type="password" name="password" required>
    </div>



    <button class="btn btn-info""/>Log In</button>

  </form>

</div>
